*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

body{
    background-color: #208c71;
    min-height: 100%;
}

.window{
    background-color: #8f8f8f;
    display:flex;
    flex-direction: column;
    border-left: 3px solid #a3a3a3;
    border-top: 3px solid #a3a3a3;
    border-right: 3px solid #797979;
    border-bottom: 3px solid #797979;
}

#winReg{
    width:300px;
    height:500px;
}
#winMem{
    width:200px;
    height:180px;
    dipslay:flex;
    align-items:center;
}

#topBar{
    width:100%;
    height:30px;
    background-color: rgb(0, 0, 167);
    font-size:32px;
    color:white;
    display:flex;
    align-items: center;
}

#regs{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.reg{
    background-color: red;
    width:90%;
    height:30px;
    font-size:30px;
}

.regOut{
    background-color: green;
    width:95%;
    height:25px;
    font-size:25px;
}

#reset{
    width:50px;
    height:30px;
    background-color: rgb(107, 107, 107);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
}

#adress,#mem{
    /* background-color: red; */
    width:100%;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#adrBar{
    width:150px;
    height:20px;
    background-color: white;
}